* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Add box-sizing for better layout control */
}

.hero {
    position: relative;
    /* Ensure positioning for children elements */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a:hover {
    color: yellow;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 10px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width:610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 10px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu,
    .close-menu {
        display: block;
    }
    #check:checked~.menu {
        right: 0;
        ;
    }
}

.slideshow {
    height: 650px;
    width: 100%;
}

.capaingn {
    position: relative;
}

.capaingn h1 {
    text-align: center;
    font-weight: 1000;
    font-size: 50px;
    padding-top: 30px;
}

.capaingn .img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 10px;
    padding: 20px;
    gap: 20px;
}

#foot {
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 10px 100px;
}

#left {
    flex: 1;
}

#right {
    /* flex: 1; */
    padding-top: 30px;
    /* text-decoration: none; */
}

#right a {
    text-decoration: none;
}


/* Slideshow container */

.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 620px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
    .capaingn .img {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #foot {
        background-color: #000;
        color: #fff;
        display: flex;
        padding: 10px 10px;
    }
    #left {
        flex: 1;
        font-size: 11px;
    }
    #right {
        padding-top: 30px;
        font-size: 11px;
        /* text-decoration: none; */
    }
    #right a {
        text-decoration: none;
        color: #fff;
    }
}